{% macro render_flash_messages() %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}"><p>{% if category != "neutral" %}{{ category.capitalize()+": " }}{% endif %}{{ message }}</p><div class="close"><div class="icon-container"><i class="close-icon fa fa-times" onclick="var f = document.getElementsByClassName('flashes')[0]; f.classList.add('fade-out')"></i></div></div></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endmacro %}

{% macro render_field(field, disabled = false, char_limit = None) %}
  <div class="form-elt {% if field.errors %}error{% endif %}">
    {% if field.type == "TextAreaField" %}
      <h6>{{ field.label }}</h6>
      {{ field(placeholder = field.description, maxlength = field.max, disabled = disabled) }}
      {% if char_limit != None %}
        <p class="count" id="{{ field.name }}">Characters left: {{ char_limit }}</p>
      {% endif %}
    {% else %}
      {{ field(placeholder = field.description, disabled = disabled) }}
    {% endif %}
    {% if field.errors %}
      <p class="error-msg">{{ field.errors[0] }}</p>
    {% endif %}
  </div>
{% endmacro %}


<!DOCTYPE html>

<html>
  <head>
    <!--[if IE]>
      <link rel="shortcut icon" href="/static/favicon.ico">
    <![endif]-->
    <title>hackBCA III - Staff Panel</title>
    <link rel="icon" href="/static/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
      <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="/{% block static_folder %}{% endblock %}/css/style.css"> -->
    {% block header %}{% endblock %}
  </head>
  <body>
    {{ render_flash_messages() }}
    {% block content %}{% endblock %}
  </body>
  <script type="text/javascript" src="/static/js/nav.js"></script>
  {% block scripts %}{% endblock %}
</html>