.buttons {

  &.horizontal {
    margin: 25px 0 0 0;

    .btn {
      display: inline-block;
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn {
  background-color: $blue-color-fallback;
  background-color: $blue-color;
  outline: none;
  box-shadow: none;
  color: #fff;
  padding: 15px 30px;
  border: none;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 10px;

  &:hover {
    background-color: $blue-fade-color-fallback;
    background-color: $blue-fade-color;
    color: #fff;
  }
  &:disabled {
    background-color: #505050;
  }
}