{% extends "admin.base.html" %}

{% block content %}
{% include "navbar.html" %}
<div class="page-container">
  <div class="page-section" id="settings">
    <div class="container">
			<h2> {{ user.full_name() }} </h2>

			<form method="POST" action="">
			{% for field in form %}
				{{ render_field(field) }}
			{% endfor %}

			<div class="buttons">
				<button class="btn" type="submit">Save</button>
				<a href="/admin"><button class="btn" type="button">Cancel</button></a>
			</div>
			</form>
	
			<button class="btn" type="button" onclick="deleteUser('{{ user.email }}')">Delete User</button>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	function deleteUser(email) {
		form = document.createElement("form");
		form.method = "post";
		form.action = "/admin/delete";
		input = document.createElement("input");
		input.type = "hidden";
		input.name = "email";
		input.value = email;
		form.appendChild(input);
		form.submit();
	}
</script>
{% endblock %}

