{% extends "admin.base.html" %}

{% block content %}
{% include "navbar.html" %}
<div class="page-container">
  <div class="page-section" id="settings">
    <div class="container">
      <table class="pure-table">
      {% for user in users %}
        <tr id="{{ user.id }}">
          <td>
            {{ user.full_name() }}
          </td>
        </tr>
      {% endfor %}
      </table>
      <a href="/admin/new"><button class="btn">Add User</button></a>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  rows = document.querySelectorAll("table tr");
  for (var i = 0; i < rows.length; i++) {
    rows[i].onclick = function() {
      window.location.href = "/admin/edit/" + this.id;
    }
  }
</script>
{% endblock %}