{% extends "hacker.base.html" %}

{% block content %}
  {% with nav_bar = nav_bar %}
    {% include "navbar.html" %}
  {% endwith %}
  <div class="page-container">
  <div class="page-section" id="settings">
    <div class="container">
      {% if applicant.attending == "Attending" %}
        <form method="POST" action="">
          {% if applicant.checked_in != True %}
            <button class="btn" type="submit" name="check-in">Check In</button>
          {% else %}
            <button class="btn" type="submit" name="check-out">Check Out</button>
          {% endif %}
        </form>
      {% endif %}
      {% with applicant = applicant %}
        {% include "hacker.applicant_card.html" %}
      {% endwith %}
      <div class="raw">
        <p><button class="btn" onclick="toggleRawData();">Toggle Raw Data</button></p>
        <div id="raw_data" class="hide">
          {% for field, val in applicant.items() %}
            <p>{{ field }}: {{ val }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  toggleRawData = function() {
    var raw = document.getElementById("raw_data");
    raw.classList.toggle("hide");
  }
</script>
{% endblock %}