{% extends "hacker.base.html" %}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}

<div class="page-container">
  <div class="page-section" id="settings">
    <div class="container">
      <div class="header">
        <div class="head-cover">
          <h2>Send Emails</h2>
          <form method="POST" action="" enctype="multipart/form-data">
            <p>Upload CSV File of signed waivers to update users in DB</p>
            <input type="file" name="waiver_doc"/>
            <button class="btn" type="submit">Upload Waiver Doc</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}