{% extends "hacker.base.html" %}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}
<div class="page-container">
  <div class="page-section" id="search">
    <div class="container">
      <h2>Paths</h2>
      <form method="POST" action="">
        {% if not registration_open %}
          <button class="btn" name="open-registration">Open Path Registration</button>
        {% else %}
          <button class="btn" name="close-registration">Close Path Registration</button>
        {% endif %}
      </form>

      <div class="m-filters">
        <div>
          <input type="text" class="m-filter-field" id="m-filter-name" placeholder="Name"/>
        </div>
        <div>
          <input type="text" class="m-filter-field" id="m-filter-email" placeholder="Email"/>
        </div>
        
        <div>
          <label for="m-filter-path">
            <p>Path</p>
            <select class="m-filter-field" id="m-filter-path">
              <option value=""></option>
              <option value="Code For Good">Code For Good</option>
              <option value="iOS">iOS</option>
              <option value="Web Development">Web Development</option>
            </select>
          </label>
        </div>
        <div>
          <label for="m-filter-checkedin">
            <p>Checked In</p>
            <select class="m-filter-field" id="m-filter-checkedin">
              <option value=""></option>
              <option value="Y">Y</option>
              <option value="N">N</option>
            </select>
          </label>
        </div>

      </div>
      <table id="participant-table" class="pure-table pure-table-horizontal">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th> 
            <th>Path</th>
            <th>Checked In</th>
          </tr>
          <tr>
            <th>
              <input type="text" class="filter-field" id="filter-name"/>
            </th>
            <th>
              <input type="text" class="filter-field" id="filter-email"/>
            </th>
            <th>
              <select class="filter-field" id="filter-path">
                <option value=""></option>
                <option value="Code For Good">Code For Good</option>
                <option value="iOS">iOS</option>
                <option value="Web Development">Web Development</option>
              </select>
            </th>
            <th>
              <select class="filter-field" id="filter-checkedin">
                <option value=""></option>
                <option value="Y">Y</option>
                <option value="N">N</option>
              </select>
            </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var participants = [];  
  var participantTable = document.getElementById("participant-table");

  var participantFields = ["name", "email", "path", "checkedin"];
  var fieldTitles = ["Name", "Email", "Path", "Checked In"];

  loadChunk = function(chunk) {
    var table = document.querySelector("#participant-table tbody");
    for (var i = 0; i < chunk.length; i++) {
      participants.push(chunk[i]);
      var row = document.createElement("tr");
      row.id = chunk[i].id;
      row.onclick = function() { selectRow(row.id); }
      for (var j = 0; j < participantFields.length; j++) {
        var col = document.createElement("td");
        col.dataset.label = fieldTitles[j];
        col.innerHTML = chunk[i][participantFields[j]];
        row.appendChild(col);
      }
      table.appendChild(row);
    }
    triggerFilter();
  }

  filter = function(filterVals) {
    for (var i = 0; i < participants.length; i++) {
      var show = true;
      for (var j = 0; j < filterVals.length; j++) {
        var criteria = filterVals[j];
        var field = criteria[0];
        var partialVal = criteria[1].toLowerCase();
        if(partialVal.length > 0){
          if(field === "path" || field === "checkedin") {
            if (participants[i][field].toLowerCase() != partialVal) {
              show = false;
            }
          }
          else{
            if (participants[i][field].toLowerCase().indexOf(partialVal) === -1) {
              show = false;
            }
          }
        }
      }
      var tableEntry = document.getElementById(participants[i].id);
      if (show) {
        tableEntry.classList.remove("hide");
      }
      else {
        tableEntry.classList.add("hide");
      }
    }
  }

  getFilterVals = function() {
    var filterVals = [];
    for (var i = 0; i < participantFields.length; i++) {
      var filterField = document.getElementById("filter-" + participantFields[i]);
      if (filterField) {
        if (filterField.tagName === "INPUT") {
          filterVals.push([participantFields[i], filterField.value]);
        } else if (filterField.tagName === "SELECT") {
          filterVals.push([participantFields[i], filterField.options[filterField.selectedIndex].value])
        }
      }
    }
    return filterVals;
  }

  mGetFilterVals = function() {
    var filterVals = [];
    for (var i = 0; i < participantFields.length; i++) {
      var filterField = document.getElementById("m-filter-" + participantFields[i]);
      if (filterField) {
        if (filterField.tagName === "INPUT") {
          filterVals.push([participantFields[i], filterField.value]);
        } else if (filterField.tagName === "SELECT") {
          filterVals.push([participantFields[i], filterField.options[filterField.selectedIndex].value])
        }
      }
    }
    return filterVals;
  }  

  filterInit = function() {
    var filterFields = document.getElementsByClassName("filter-field");
    for (var i = 0; i < filterFields.length; i++) {
      filterFields[i].onchange = function() {
        filter(getFilterVals());
      }
    }

    var mFilterFields = document.getElementsByClassName("m-filter-field");
    for (var i = 0; i < filterFields.length; i++) {
      mFilterFields[i].onchange = function() {
        filter(mGetFilterVals());
      }
    }
  }

  triggerFilter = function() {
    var mfilterboxDisplay = window.getComputedStyle(document.getElementsByClassName("m-filters")[0]).getPropertyValue("display");
    if(mfilterboxDisplay === "none"){
      filter(getFilterVals());
    }
    else{
      filter(mGetFilterVals());
    }
  }

  filterInit();
  loadChunk({{ participants|safe }})
</script>
{% endblock %}