{% extends "hacker.base.html" %}

{% set nav_bar = [
  ("/", "Home"),
  ("/search", "Search"),
  ("/stats", "Statistics"),
  ("/account", "Settings")
] -%}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}

<div class="page-container">
  <div class="page-section" id="settings">
    <div class="container">
      <div class="header">
        <div class="head-cover">
          <h2>Search</h2>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}