{% extends "hacker.base.html" %}

{% set nav_bar = [
  ("/", "Home"),
  ("/search", "Search"),
  ("/stats", "Statistics"),
  ("/account", "Settings")
] -%}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}
<div class="page-container">
  <div class="page-section" id="settings">
    <div class="container">
      <h2>Search</h2>
        
      <table id="participant-table" class="pure-table pure-table-bordered">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th> 
          <th>School</th>
          <th>Account Type</th>
          <th>Account Status</th>
        </tr>
        <tr>
          <th>
            <input type="text" class="filter-field" id="filter-firstname"/>
          </th>
          <th>
            <input type="text" class="filter-field" id="filter-lastname"/>
          </th>
          <th>
            <input type="text" class="filter-field" id="filter-email"/>
          </th>
          <th>
            <input type="text" class="filter-field" id="filter-school"/>
          </th>
          <th>
            <input type="text" class="filter-field" id="filter-type_account"/>
          </th>
          <th>
            <input type="text" class="filter-field" id="filter-status"/>
          </th>
        </tr>
        {% for participant in participants %}
          <tr id="{{ participant.id }}">
          {% for field in ["firstname", "lastname", "email", "school", "type_account", "status"] %}
            <td class="user-{{ field }}">{{ participant[field] }}</td>
          {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var participants = {{ participants|safe }};
  
  var participantTable = document.getElementById("participant-table");
  var pageSize = 50;

  var participantFields = ["firstname", "lastname", "email", "type_account", "status", "school"];

  filter = function(filterVals){
    for(var i = 0; i < participants.length; i++){
      var show = true;
      for(var j = 0; j < filterVals.length; j++){
        var criteria = filterVals[j];
        var field = criteria[0];
        var partialVal = criteria[1].toLowerCase();
        if(participants[i][field].toLowerCase().indexOf(partialVal) == -1){
          show = false;
        }
      }
      var tableEntry = document.getElementById(participants[i].id);
      if(show){
        tableEntry.classList.remove("hide");
      }
      else{
        tableEntry.classList.add("hide");
      }
    }
  }

  getFilterVals = function(){
    var filterVals = [];
    for(var i = 0; i < participantFields.length; i++){
      var filterField = document.getElementById("filter-" + participantFields[i]);
      if(filterField){
        filterVals.push([participantFields[i], filterField.value]);
      }
    }
    return filterVals;
  }

  var filterFields = document.getElementsByClassName("filter-field");
  for(var i = 0; i < filterFields.length; i++){
    filterFields[i].onchange = function(){
      filter(getFilterVals());
    }
  }
</script>
{% endblock %}