{% extends "user.base.html" %}

{% set nav_bar = [
  ("/", "Home", False),
  ("/forgot", "Forgot Password", True)
] -%}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}
<div class="full-page-container">
  <div class="page-section" id="forgot">
    <div class="container">
      <div class="cover">
        <div class="content">
          <h2>Password Recovery</h2>
          <form method="POST" action="">
            {% for field in form %}
              {{ render_field(field) }}
            {% endfor %}
            <div class="buttons">
              <button class="btn" type="submit">Send Email</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}