{% extends "user.base.html" %}

{% set nav_bar = [
  ("/", "Home", False)
] -%}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}
<div class="full-page-container">
  <div class="page-section" id="login">
    <div class="container">
      <div class="cover">
        <div class="content">
          <img class="logo" src="https://s3.amazonaws.com/hackbcawebsite/logo.png">
          <h2>Staff Login</h2>
          <form method="POST" action="">
            {% for field in form %}
              {{ render_field(field) }}
            {% endfor %}
            <div class="buttons">
              <button class="btn" type="submit">Login!</button>
            </div>
            <a href="/forgot"><p>Forgot your password?</p></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}