{% extends "user.base.html" %}

{% block content %}
<div class="page-container">
  <div class="page-section" id="recover">
    <div class="container">
      <div class="cover">
        <div class="content">
          <h3>Change your Password</h3>
          <h4>{{ email }}</h4>
          <form method="POST" action="">
            {% for field in form %}
              {{ render_field(field) }}
            {% endfor %}
            <div class="buttons">
              <button class="btn" type="submit">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
