{% extends "user.base.html" %}

{% set nav_bar = [
  ("/", "Home", False),
  ("/account/settings", "Settings", True)
] -%}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}

<div class="page-container">
  <div class="page-section" id="settings">
    <div class="container">
      <div class="header">
        <div class="head-cover">
          <h2>Account Settings</h2>
          <h4>Hey, {{ current_user.firstname }}!</h4>
        </div>
      <div class="info">
        <h5>Change your name</h5>
        <form id="name-form" method="POST" action="/account">
          <input type="hidden" name="setting" value="name"/>
          {% for field in name_form %}
            {{ render_field(field) }}
          {% endfor %}
          <div class="buttons">
            <button class="btn" type="submit">Change Name</button>
          </div>
        </form>
        <h5>Change your password</h5>
        <form id="password-form" method="POST" action="/account">
          <input type="hidden" name="setting" value="password"/>
          {% for field in password_form %}
            {{ render_field(field) }}
          {% endfor %}
          <div class="buttons">
            <button class="btn" type="submit">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}